.home .parent-of-btns {
}

.home .parent-of-btns button {
  appearance: button;
  background-color: #1652f0;
  border: 1px solid #1652f0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-right: 25px;
}


.home select {
  background-color: #666;
  padding: 7px 15px;
  border-radius: 4px;
}

.home .all-tasks {
  justify-content: center;
  flex-wrap: wrap;
}

.home .all-tasks .one-task {
  border: 2px solid white;
  margin: 40px 20px;
  width: 300px;
  height: 141px;
  border-radius: 5px;
  transition: 0.8s;
  position: relative;
}

.home .all-tasks .one-task:hover {
  border-left: 8px solid gray;
  cursor: pointer;
}

.home .all-tasks .one-task h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.home .all-tasks .one-task li {
  list-style-position: inside;
  list-style-type: circle;
  font-size: 13px;
  line-height: 29px;
  text-align: left;
  margin-left: 11px;
}

.home .all-tasks .one-task .time time {
  font-size: 11px;
  text-align: right;
  margin-right: 9px;
  font-weight: normal;
  color: rgba(164, 213, 255);

  position: absolute;
  bottom: 7px;
  right: 9px;
}

.home .add-task-btn {
  background-color: teal;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  margin-bottom: 44px;
}

.home .add-task-btn .fa-plus {
  font-size: 14px;
}

.home h5 {
  color: #1b1b1b;
  text-align: center;
  margin-bottom: 20px;
}
.Light .home h2,
.Light .home ol li {
  color: rgb(65, 71, 84);
}

.Light .home .all-tasks .one-task {
  border: 2px solid black;
}

.Light .home .all-tasks .one-task li {
  color: #1b1b1b;
}

.home .model-content {
  margin-top: 55px;
  height: 100%;
  text-align: left;
}
.home .modal {
  overflow-y: auto;
}
.home .modal li {
  font-size: 13px;
  color: #333;
  list-style-type: square;
  list-style-position: inside;
  margin-bottom: 11px;
}

.home .show-message {
  background-color: whitesmoke;
  font-size: 18px;
  color: #1b1b1b;
  padding: 8px 30px;
  font-weight: normal;
  border-radius: 5px;
  position: fixed;
  top: 100px;
  right: 10px;
  transition: 1s;
}

.home .fa-circle-check {
  color: teal;
  margin-left: 5px;
  position: fixed;
}

.home .fa-trash {
  color: red;
  margin-left: 100px;
}
