.myheader .ali {
  background-color: teal;
}

.hide-when-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}

.signout {
  all: unset;
  padding: 8px 15px;
}

.main-list {
  padding: 10px;
  font-size: 19px;
  position: relative;
}

.main-link {
  padding: 8px 15px;
}

.main-link:hover,
.main-link.active {
  color: cyan;
  box-shadow: 0 0 5px cyan;
  border-radius: 5px;
}

.logo {
  animation: logonai 25s infinite;
}

.logo:hover {
  font-size: x-large;
}

@keyframes logonai {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    letter-spacing: 7px;
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .show-when-mobile {
    /* display: block; */
  }

  .hide-when-mobile {
    /* display: none; */
  }
}

@keyframes down {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

header {
  animation: down 1s 1;
}
